{% if stats %}
    <h1>{{ channel }}</h1>
    <h2>Stats</h2>
    <ul>
    <li> Total lines: {{ stats.totallines }}
    <li> Talk lines: {{ stats.talklines }}
    <li> Action lines: {{ stats.actionlines }}
    <li> IRC lines: {{ stats.irclines }}
    <li> This took {{ stats.parsetime }} seconds to parse {{ stats.numlogs }} logs
    </ul>
    <h2>Users</h2>
    <ul>
    {% for user in people %}
    <li><a href="{{ user.name }}/">{{ user.name }}</a>
    {% endfor %}
    </ul>
{% else %}
    <p>No stats available for {{ channel }}</p>
{% endif %}
