        {% for post in posts %}
        {% include "news/single_post.html" %}
        {% endfor %}

        <div id="pagination">
            {% if posts.has_previous %}
                <a href="?page={{ posts.previous_page_number }}" title="Previous page">Prev</a>
            {% endif %}

            <span class="currentpage">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>

            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}" title="Next page" />Next</a>
            {% endif %}
        </div><!-- pagination -->
